*{
transition: all 0.3s ease-in;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.footer{
background-color: #212121;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
padding: 1.5rem;
justify-content: left;
padding-left: 2rem;
}
.footer li{
color:white;
list-style-type: none;
padding: 3px 0 15px;
font-size: 16px;
font-weight: 400;
font-family: montserrat;
line-height: 1.5;
text-decoration: none;
}
.footer li:hover{
color:var(--accent-color) ;
cursor: pointer;
}
ul.socials{
float: right;
}
