*{
transition: all 0.3s ease-in;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.nav-dark{
z-index: 99999;
position: fixed;
font-family: roboto;
height: 46px;
top: 0;
background-color:#212121;
display: flex;
-webkit-font-smoothing: subpixel-antialiased;
align-items: center;
justify-content: center;
transition: top 0.5s ease-in-out;
width: 100%;
box-shadow: 0 1px 3px rgba(0,0,0,0.24), 0 3px 2px rgba(0,0,0,0.24);
}

header a {
text-decoration: none;
color: rgb(131, 131, 131);
display: block;
font-family: roboto;
padding: 12px 0;
width: 104px;
height: 46px;
box-sizing: border-box;
text-align: center;
font-size: 14px;
}
a{
text-decoration: none;
}
a:hover{
text-decoration: none;
}
header input[type=text] {
border-radius: 15px;
border:none;
background: white;
color: #181818;
padding-left:25px;
outline: none;
}
a:hover {
color:var(--accent-color);
transition: 0.5s;
}
header nav ul {
list-style-type: none;
display: flex;
justify-content: center;
align-items: center;
justify-content: center;
margin: 0;
padding: 0;
}
li a {
text-align: center;
}
li a:active{
background-color: #111;
}
#button a{
display: flex;
justify-content: center;
align-items: center;
}
#change a{
display: flex;
justify-content: center;
align-items: center;
}
#grid a{
display: flex;
justify-content: center;
align-items: center;
}
.disable{
color:grey!important;
}

@media screen and (max-width: 600px) {
.formholder{
margin-top: 10vh;
}
.nav-dark{
height: 10vh;
}
#toggleNav{
position: absolute;
left: 2vw;
}
header nav ul{
margin-left: 10vw;
}
.hidden{
display: none!important;
}
li{
list-style-type: none;
}
.mobile{
position: absolute;
width: 100%;
list-style-type: none;
top: 0;
height: 100vh;
background-color: var(--bg-color);
}
.mobile>ul{
height: 100vh;
display: flex;
align-items: center;
padding: 0;
flex-direction: column;
}
li>a{
font-size: 1.5rem;
display: flex;
align-items: center;
}
.mobile>ul>li{
text-align: center;
display: flex;
width: 100%;
border-bottom: 1px solid #2d2d2d;
justify-content: flex-start;
padding-left: 5rem;
}
.mobile>ul>li:first-child{
border-top: 1px solid #2d2d2d;
}
};
