.nav-dark{
  z-index: 99999;
  position: fixed;
  font-family: 'Roboto', sans-serif;
  height: 46px;
top: 0;
background-color:#212121;
  display: flex;
  font: 100 14px/1.5 'Roboto', sans-serif;;
  -webkit-font-smoothing: subpixel-antialiased;
align-items: center;
justify-content: center;
transition: top 0.5s ease-in-out;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.24), 0 3px 2px rgba(0,0,0,0.24);
}

header a {
	text-decoration: none;
    color: rgb(131, 131, 131);
    display: block;
    font-family: 'Roboto', sans-serif;
    padding: 12px 0;
    width: 104px;
    height: 46px;
    box-sizing: border-box;
    text-align: center;
	font-size: 14px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
header input[type=text] {
    border-radius: 15px;
    border:none;
    background: white;
    color: #181818;
    padding-left:25px;
    outline: none;
}
a:hover {
	color:var(--accent-color);
	transition: 0.5s;
}
header nav ul {
	list-style-type: none;
	display: flex;
	justify-content: center;
    align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
}
li a {
    text-align: center;
}
li a:active{
    background-color: #111;
}
#button a{
  display: flex;
  justify-content: center;
  align-items: center;
}
#change a{
  display: flex;
  justify-content: center;
  align-items: center;
}
#grid a{
  display: flex;
  justify-content: center;
  align-items: center;
}
.disable{
  color:grey!important;
}

@media screen and (max-width: 600px) {
.nav-dark{

}
};
