/* ---------VILÁGOS MODE---------*/
*{
transition: all 0.3s ease-in;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.sidebar-light{
background-color: #F5F5F5!important;
}

.container-light{
background-color: #F5F5F5!important;
}

.player-light{
background-color: #F5F5F5!important;
}

.nav-light{
background-color:#F5F5F5!important;
}

.row-inner-white{
background-color: #F5F5F5!important;
}

.hot-light{
background-color: #F5F5F5!important;
}

.text-light{
color: grey!important;
}

.track-container-light{
background-color: #F5F5F5!important;
}

.searched-header-light{
background-color: #F5F5F5!important;
}
