.sidebar-light{
background-color: #F5F5F5!important;
}

.container-light{
background-color: #F5F5F5!important;
}

.player-light{
  background-color: #F5F5F5!important;
}

.nav-light{
    background-color:#F5F5F5!important;
}

.row-inner-white{
    background-color: #F5F5F5!important;
}

.hot-light{
  background-color: #F5F5F5!important;
}

.text-light{
  color: grey!important;
}
