*{
transition: all 0.3s ease-in;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.content {
width: 650px;
margin: 0 auto;
padding-top: 100px;
}
span {
color: dimgray;
}
.pop-up {
display: block;
background-color: #212121;
text-align: center;
margin-left: auto;
margin-right: auto;
padding: 2rem;
position: fixed;
z-index: 5000000000000;
top: 50%;
left: 50%;
font-family: 'Montserrat', sans-serif;
border-radius: 3px;
margin-top: -100px;
margin-left: -280px;
box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.tooltip {
position: relative;
display: inline-block;
}

.tooltip .tooltiptext {
visibility: hidden;
font-family: 'Roboto', sans-serif;  width: 120px;
background-color: var(--accent-color);
box-shadow: 0 14px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
color: var(--text-color);
text-align: center;
padding: 5px 0;
border-radius: 6px;
position: absolute;
z-index: 1;
width: 120px;
bottom: 100%;
left: 50%;
margin-left: -60px;
}
.tooltip:hover .tooltiptext {
visibility: visible;
}
